@import '../animations/animations';

.card {
    border: 1px black;
    height: 70px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    animation: fadeIn 1s;
    &:first-child {
        margin-top: 50px;
    }
    button:first-child {
        margin-right: 15px;
    }
}
